.navbarlayout {
    /* border : 2px solid red; */
    display: flex;
    padding: 10px 20px;

    justify-content: space-between;

}

.leftpart {
    width: 50%;
    /* border : 2px solid rgb(27, 14, 14); */
}

.navlink {
    width: 30%;
    /* border : 2px solid rgb(150, 93, 93); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    margin: 0;
    padding: 0;
 
    position: relative;


}

.img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
    background-color: black;
    position: absolute;
   
}

.body1 {
    /* height:630px; */
    height: calc(100vh - 40px);
    /* border : 2px solid rgb(150, 93, 93); */
    display: flex;
    flex-direction: column;
    /* vertically center for fle direction column  */
    justify-content: center;
    /* hz center for flex direction column */
    align-items: center;

}

.btngroup {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;

}

.btn1 {
    padding: 10px 30px;
    font-weight: 700;
    color: white;
    background-color: rgb(11, 126, 68);
    border: none;
    border-radius: 30px;
    cursor: pointer;

}

.btn2 {
    padding: 10px 30px;
    font-weight: 700;
    color: rgb(110, 14, 14);
    border: 2px solid rgb(11, 126, 68);

    border-radius: 30px;
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0;
}